
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Přežij{% endblock %} @ Impro survival</title>
        {% block css %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{asset('css/bootstrap.min.css')}}"/>
		<link rel="stylesheet" type="text/css" media="screen" href="{{asset('css/bootstrap-theme.min.css')}}"/>		
		<link rel="stylesheet" type="text/css" media="screen" href="{{asset('css/main.css')}}"/>		
        {% endblock %}        
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body onkeyup="" old="Save()">
				 
	<a id="next" style="position:absolute;top:0px;right:0px;" href="#"
onclick="Save();">Další...</a>
<form name=survival action="{% block next %}{{url('app_default_welcome')}}{% endblock %}" type="POST">
{% block body %}{% endblock %}
</form>
{% block js %}	
<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/main.js')}}"></script>
{% endblock  %} 		 

        
</body>
</html>
