{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<h1>Výsledky {{round.RoundNum}}. kola</h1>
<div class=row>

{% for vote  in votes %}
<div class="col-lg-6 col-md-6" >
<div CLASS="vote">

<img src="/{{vote.player.Photo}}" class="img-circle"
style="width:100%;opacity:0.6;z-index:-100 !important;"
/>
<h2 class="voteresult ">
	{{ vote.Summed}}</h2>	

</div>
</div>
{% endfor %}

</div>
</div>
{% endblock %}

{% block title %}
Výsledky {{round.RoundNum}}. kola
{% endblock %}


{% block next %}{{ url('app_default_totals')}}{% endblock %}
