{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<h1>Výsledky {{round.RoundNum}}. kola</h1>
<div class=row>

{% for vote  in votes %}
<div class=col-lg-6 >
<div style="width:500px;height:500px;">

<img src="/{{vote.player.Photo}}" class="img-circle"
style="width:500px;opacity:0.6;z-index:-100 !important;position:relative;"
/>
<h2 class="voteresult text-center">
	{{ vote.Summed}}</h2>	

</div>
</div>
{% endfor %}

</div>
</div>
{% endblock %}

{% block title %}
Výsledky {{round.RoundNum}}. kola
{% endblock %}


{% block next %}{{ url('app_default_kill')}}{% endblock %}
