{% extends 'base.html.twig' %}
{% block body %}	
<div class="container">
	<h1 class=text-center>Testovací hlasování</h1>
	<div class="row vote_testing">
		{{include('default/vote.html.twig',{'id':1})}}
		{{include('default/vote.html.twig',{'id':2})}}
		{{include('default/vote.html.twig',{'id':3})}}
		{{include('default/vote.html.twig',{'id':4})}}
		{{include('default/vote.html.twig',{'id':5})}}
	</div>
</div>
{% endblock %}
{% block title %}
	Testovací hlasování
{% endblock %}
{% block next %}{{ url('app_default_randomize')}}{% endblock %}
